/node_modules
/bower_components
/web
/themes
/server/node_modules
/hybrid/node_modules
/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json
config.js
.DS_Store
Thumbs.db
/js/config.js
credentials.php
/vendor