<div class="top-area">
    <!-- <div class="search">
        <i class="fa fa-link"></i>
        <input class="search-box" placeholder="Enter a Link here">
    </div> -->

    <input type="button" id="upload_file" value="Upload File">
    <input type="file" id="file">
   
</div>
<div id="processing" class="processing">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> <span>Processing ..., this usually takes a while depending on the file size</span>
</div>
<div class="complete-notice">
    <h2>Transcription Completed </h2>
</div>


<div class="wrapper" id="transcriptions">
    <div class="amazon">
        <h3 class="dragonglass-transcription-title">Amazon Transcription</h3>
        <div class="amazon-con">
            <!-- <div class="menu">
                <div>Transcription Completed</div>
            </div> -->
            <div id="amazonTranscribed">
                <h3 class="dummy" data-bind="html: dummyValue"></h3>
                <h3 class="dummy" data-bind="html: amazonValue"></h3>
            </div>
        </div>
    </div>
    <div class="google">
        <h3 class="dragonglass-transcription-title">Google Cloud Speech To Text</h3>
        <div class="amazon-con">
            <!-- <div class="menu"> -->
                <!-- <div>Transcription Completed</div> -->
            <!-- </div> -->
            <div>
               <h3 class="dummy" data-bind="html: dummyValue"></h3>
               <h3 class="dummy" data-bind="html: googleValue"></h3>
            </div>
        </div>
    </div>
</div>